<div class="jumbotron">
	This Numerology App is based on the birth path number! The birth path number is determined by doing a little bit of math magic with your date of birth. Your birthdate is reduced down to a single digit, 1-9. That number corresponds to a specific message about your path in life and place in the world. 
	Enter the birthdate on your left and read about your number.
	<a href="http://www.cafeastrology.com/numerology.html">Read more</a>

</div>