<div class="header">
	<h3>Welcome to Numerology App</h3>
	<hr />
</div>

<div class="jumbotron">
	This Numerology App is based on the birth path number! The birth path number is determined by doing a little bit of math magic with your date of birth. Your birthdate is reduced down to a single digit, 1-9. That number corresponds to a specific message about your path in life and place in the world. 
</div>

<form class="panel panel-warning col-md-4" action="/" method="post">

	<div class="panel-heading"> 
		<h3 class="panel-title">Quick try</h3>
	</div>
	<div class="panel-body">
		<!--<input class="form-control input-lg" type="date" name="birthdate" /> 
		For creating validations-->
		<!-- Show error message div in case of error -->
		<% if @error %> 
			<div class="alert alert-dismissible alert-warning">
  				<button type="button" class="close" data-dismiss="alert">×</button>
  				<strong>Validation error</strong>
  				<p><%= @error %></p>
			</div>
		<% end %>

		<label> Enter your birthdate<input class="form-control input" type="text" name="birthdate" placeholder="MMDDYYYY " /> </label>
		<input class="btn btn-warning" type="submit" />		
	</div>
</form>

<!--
<div class="list-group col-md-4">
		<a href="/people/" class="list-group-item"><font>See all people</font></a>
  		<a href="/messages" class="list-group-item"><font>See all messages</font></a>
  	</div>
-->

  






<!--
<div class="form-style-10">
<h1>Numerology App<span>Please, enter your data below</span></h1>
<form action="/" method="post">
    <div class="section"><span>1</span>First &amp; Last Name</div>
    <div class="inner-wrap">
        <label>First Name<input type="text" name="first_name" /></label>
        <label>Last Name<input type="text" name="last_name" /></label>
    </div>

    <div class="section"><span>2</span>Your birthdate</div>
    <div class="inner-wrap">
        <label>Enter your birthdate<input type="text" name="birthdate" /></label>
   </div>

    <div class="button-section">
     <input type="submit" name="Submit" />
     <span class="privacy-policy">
     <input type="checkbox" name="checkbox_terms">You agree to our Terms and Policy. 
     </span>
    </div>
</form>
</div>
-->