<html>
	<head>
	<!-- Old my styles 
		<link style="text/css" rel="stylesheet" href="/stylesheet.css">
		<link style="text/css" rel="stylesheet" href="/form_style.css"> -->
	<!-- Original bootstrap 	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
	<!-- Custom bootstrap Simplex -->	
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<title>Numerology App</title>
	</head>
	<body>
		<div class="container">
			<div class="header"> 
				<h1>Numerology Calculator <small>A Skillcrush Project</small></h1>
			</div>

			<hr />
			<%= yield %>
		</div>
	</body>
</html>