<html>
	<head>
	<!-- Old my styles 
		<link style="text/css" rel="stylesheet" href="/stylesheet.css">
		<link style="text/css" rel="stylesheet" href="/form_style.css"> -->
	<!-- Original bootstrap 	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
	<!-- Custom bootstrap Simplex -->	
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

		<title>Numerology App</title>
	</head>
	<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Numerology Calculator</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">

        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Person<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/people/new">Add new</a></li>
            <li><a href="/people/">Show all</a></li>
          </ul>
        </li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Message<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/message/1">1</a></li>
			<li><a href="/message/2">2</a></li>
			<li><a href="/message/3">3</a></li>
			<li><a href="/message/4">4</a></li>
			<li><a href="/message/5">5</a></li>
			<li><a href="/message/6">6</a></li>
			<li><a href="/message/7">7</a></li>
			<li><a href="/message/8">8</a></li>
			<li><a href="/message/9">9</a></li>
            <li class="divider"></li>
            <li><a href="/messages">Show all</a></li>
          </ul>
        </li>

        <li><a href="/about">About</a></li>
      </ul>
     </div>
 </div>
</nav>


<div class="container">
	<%= yield %>
</div>

</body>
</html>